#image-preview {
    max-width: 60%;
    height: auto;
    background-color:darkgray;
}

.jumbotron {
    background:url(../img/photo2.jpg);
}

#plantImage img {
    max-width: 100%;
    height: auto;
}


