<div class="plant-container">
{% for plant in plants %}
    <div class="plant">    
        <a href="{% url 'plant:plants_detail' plant.id %}">
            <img src="{{ plant.image.url }}" class="plant-img">
        </a>
        <div class="plant-info">
            <a href="{% url 'plant:users_detail' plant.user.id %}" style="margin:1px;">{{ plant.name }}({{ plant.species }})</a>
            <p style="margin:1px;">{{ plant.description }}</p>
        </div>
    </div>    
{% endfor %}
</div>