{% extends 'plant\base.html' %}
{% load static %}

{% block content %}

<div class="plant-detail">
    <div class="plant-info">
        <p><img src="{{ plant.image.url }}"></p>
        <p class="user-credit">ユーザー {{ plant.user }}</p>
        <p class="shooting-date">撮影日 {{ plant.shooting_date |date:"Y/m/d" }}</p>
        {% if plant.species %}
            <h2>{{ plant.name }} ({{ plant.species }}) </h2>
        {% else %}
            <h2>{{ plant.name }}</h2>
        {% endif %} 
    </div>
           
    <a href="{% url 'plant:plants_edit' plant.id %}" class="edit-btn">編集</a>
    <!-- Javascriptの変数名(toggleBtn,formContent) 変更注意         
        <button id="toggleBtn">フォームの表示／非表示</button>
        <div id="formContent">
        <form action="{% url 'plant:plants_detail' plant.id %}" method="post">{% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }} {{ field }}
                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn-responsive" type="submit">保存</button>                
        </form>
    </div>
    -->
    <hr>
    {% if request.user == plant.user %}
        <form action="{% url 'plant:plants_delete' plant.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-delete" onclick='return confirm("本当に削除しますか?");'>削除</button>
        </form>
    {% endif %}
    <div class="btn-division">
        <a href="{% url 'plant:index' %}" class="back-btn">元に戻る</a>
    </div>
</div>
{% endblock %}

{% block extrajs%}
<script src="{% static 'js\app.js' %}"></script>
{% endblock %}