{% extends 'plant\base.html' %}

{% block content %}

<div class="signup-container">
    <h3 style="color:darkblue;">サインアップ</h3>
    <form action="{% url 'plant:signup' %}" method="post">{% csrf_token %}
        <label>メールアドレス</label>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
        <label>パスワード</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <br>
        <label>パスワード（確認）</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
        <br>
        <input type="submit" value="登録する">
    </form>
</div>


{% endblock %}